body {
    background-color: rgb(44, 58, 44);
    font-family: 'Lato', sans-serif;
}

#weatherForm {
    text-align: center;
    margin-top: 10%;
}

.center {
    text-align: center;
    margin-top: 3%;
    color: cadetblue;
}

#emoji {
    font-size: 20em;
}